<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="connStr" connectionString="Data Source=Vaio;Initial Catalog=Roteiro;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.0" />
    <pages theme="Default" />
    <authentication mode="Forms">
      <forms loginUrl="~/Acesso/Login.aspx">
        <credentials passwordFormat="Clear">
          <user name="admin" password="admin"/>
          <user name="pduarte" password="123456"/>
          <user name="yan" password="123456"/>
        </credentials>
      </forms>
    </authentication>
    <authorization>
      <allow users="?"/>
    </authorization>
  </system.web>
  <location path="Campanhas">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Passos">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Vendedores">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
</configuration>