/*.bg-c1{ background-color: #000;}
.bg-c2{ background-color: #008892;}
.bg-c3{ background-color: #00A1AB;}
.bg-c4{ background-color: #01BDC7;}
.border-none { border: none;}*/

#footer
{
    color: #000;
}