#sobre {
    margin: 0 auto;
    max-width: 800px;
    width: 90%;
    padding: 20px;
    color: #fff;
}

    #sobre img {
        position: relative;
        margin: 0 auto;
    }

    #sobre span {
        font-weight: bold;
        padding: 10px;
        display: block;
    }

    #sobre p {
        font-size: 14px;
        padding: 10px;
        text-indent: 20px;
    }

    #sobre .titulo {
        font-size: 20px;
        text-indent: 10px;
    }

    #sobre .logo {
        width: 50%;
        float: left;
    }

    #sobre .about {
        float: left;
        width: 40%;
        height: 100%;
        border-left: 1px solid #fff;
        margin: 50px auto;
    }

        #sobre .about a, #sobre .about a:visited {
            color: #fff;
        }

    #sobre .assinatura {
        font-size: 8pt;
    }

    #sobre .objetivos {
        clear: both;
        border-top: 1px solid #ccc;
    }

    #sobre li {
        line-height: 2;
        margin-left:30px;
        list-style-type:circle
    }
